.render_data_Linen{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:14px;
    border: 0px solid red;
    width: 100%;
    margin: auto;
    

}

.Main_linen_tri{
    width: 70vw;
    border: 0px solid blue;
    margin: auto;
    margin-top: 2%;
    padding-top: 200px;
}

.Linen_image{
    width: 60%
}

.span_div {
    display: flex;
    justify-content: space-between;
}
.cart-price{
    color: gray;
    justify-content: space-between;
}
.Product_image_tri{
    height: 400px;
}